<ion-view view-title="新增款式">
  <ion-nav-bar>
    <ion-nav-buttons side="left">
      <a class="button button-icon ion-ios-arrow-back" ng-click="goBack()"></a>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="list">

      <div class="Addmaterial-containner">
        <div class="Addmaterial-img-left-Containner">
          <div class="Addmaterial-text-left">款式图片</div>
          <img class="Addmaterial-img" src="img/photo.png">
        </div>
        <div class="Addmaterial-img-right-Containner">
          <div class="Addmaterial-img-Count">0/20</div>
          <div class="Addmaterial-img-Count">
            <img class="Addmaterial-img" src="img/photo.png">
          </div>
        </div>
      </div>
      <div class="item item-input item-icon-right" >
        <span class="Addmaterial-input-label">款式名称</span>
        <input type="text" placeholder="D1165">
        </div>
      <a href="#" class="item item-thumbnail-left">
        <img ng-src="img/assistOrder.png">
        <div>
          <div class="AddStyle-Material-Name">针织混纺面料 </div><div class="AddStyle-Material-Cate">布料</div><div class="AddStyle-Material-Source">商城</div>
          </div>
        <p class="AddStyle-Material-Color">颜色：黑色</p>
      </a>
    </div>
  </ion-content>

</ion-view>
