<!--create by Shiqi on May 16-->
<ion-view view-title="订单详情">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-ios-arrow-back" ng-click="toClose()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="true" style="overflow: auto">
        <div class="list">
            <div class="item">
                单号
                <span class="item-note">
                    Q23489273
                </span>
            </div>
            <div class="item">
                <div class="col col-40">111</div>
                <div class="col col-40">222</div>
            </div>
        </div>
    </ion-content>
</ion-view>
