<ion-view view-title="款式" class="design">
  <div class="bar bar-header bar-stable item-icon-left item-icon-right bar-header-top">
    <i class="icon ion-chevron-left header-left-row" ng-click="goBack()"></i>
    <div class="title">款式</div>
    <i class="icon ion-plus-round" ng-click="addMoreDesign()"></i>
  </div>

  <div class="list list-inset design-list-div" style="height: 48px; top:64px;padding: 7px 0px 7px 10px;">
    <label class="item item-input item-input-lab">
      <i class="icon ion-search placeholder-icon"></i>
      <div class="search-div">
        <form ng-submit="dosearch()">
          <div class="form-group">
              <input type="text" placeholder="搜索" ng-model="searchitem" >
          </div>
        </form>
      </div>
    </label>
    <div class="icon ion-close-circled close-search-icon" ng-click="toclear()"
         ng-show="(searchitem=='')?false:true"></div>
  </div>
  <ion-content class="content has-header design-content" style="top:112px !important;">
    <ion-list show-delete="false" can-swipe="true">
      <div class="list" ng-repeat="item in designList">
      <ion-item class="item item-thumbnail-left" ng-click="goDesignDetail($index)">
        <img src="{{getTitleImage(designList[$index].img)[0]}}" ng-if="getTitleImage(designList[$index].img).length!=0">
        <img src="img/ic_default.png" ng-if="getTitleImage(designList[$index].img).length==0">
        <div class="list-mess">
          <div class="list-txt">
            <p><span ng-bind="item.name"></span><b class="red" ng-bind="'￥'+item.totalPrice" ng-if="item.isReasonable=='Y'"></b></p>
            <p><b ng-bind="item.lastName+'￥'+item.lastPrice" ng-if="item.lastPrice!=''"></b><span ng-bind="timeSlicer($index)"></span></p>
          </div>
        </div>
        <div class="padding" style="text-align: right;border-top: 1px solid #ddd;padding-bottom: 0px">
          <button class="button button-outline button-small" ng-click="modifyDesign($index);$event.stopPropagation();">材料成本</button>
        </div>
        <ion-option-button class="button-assertive icon ion-trash-a" ng-click="deleteDesign($index)"></ion-option-button>
      </ion-item>
        </div>

      <!--<ion-tabs class="tabs-positive tabs-icon-only">-->

        <!--<ion-tab title="首页" icon-on="ion-ios7-filing" icon-off="ion-ios7-filing-outline">-->
          <!--&lt;!&ndash; 标签 1 内容 &ndash;&gt;111-->
        <!--</ion-tab>-->

        <!--<ion-tab title="关于" icon-on="ion-ios7-clock" icon-off="ion-ios7-clock-outline">-->
          <!--&lt;!&ndash; 标签 2 内容 &ndash;&gt;222-->
        <!--</ion-tab>-->

        <!--<ion-tab title="设置" icon-on="ion-ios7-gear" icon-off="ion-ios7-gear-outline">-->
          <!--&lt;!&ndash; 标签 3 内容 &ndash;&gt;333-->
        <!--</ion-tab>-->

    <!--</ion-tabs>-->


        <!--<div class="title">-->
          <!--<a href="#index.html" ><span style=" font-size: 16px;color: indianred" >进入商城</span></a>-->
        <!--</div>-->


      <!--图片轮播start-->
        <div class="row">

          <div class="col ">
            <div ng-click="shown1()" style="text-align:center;font-size: 18px" ng-class="{true: 'link-color', false: 'visited-color'}[onClick1]">为你推荐</div>
          </div>

          <div class="col " style="border-left: 1px solid black">
            <div ng-click="shown2()" style="text-align:center;font-size: 18px" ng-class="{true: 'link-color', false: 'visited-color'}[onClick2]">排行榜</div>
          </div>

        </div>

      <div ng-show="show1">
          <ion-slide-box active-slide="myActiveSlide" does-continue="true" auto-play="true" slide-interval="1000" show-pager="true" paper-color="red !important;">
            <ion-slide ng-repeat="item in rows">
              <!--<ion-slide ng-repeat="photo in photos">-->
              <div class="row" style="height: 200px">
                <div class="col-33" >
                  <a href="{{photos[0+item*3].url}}">
                  <div><img ng-src="{{photos[0+item*3].img}}" class="photo-size"></div>
                  <div><span ng-bind="photos[0+item*3].font"></span></div>
                  <div><b><span ng-bind="'￥'+photos[0+item*3].price"></span></b></div>
                  </a>
                </div>
                <div class="col-33">
                  <a href="{{photos[1+item*3].url}}">
                  <div><img ng-src="{{photos[1+item*3].img}}" class="photo-size"></div>
                  <div><span ng-bind="photos[1+item*3].font"></span></div>
                  <div><b><span ng-bind="'￥'+photos[1+item*3].price"></span></b></div>
                  </a>
                </div>
                <div class="col-33">
                  <a href="{{photos[2+item*3].url}}">
                  <div><img ng-src="{{photos[2+item*3].img}}" class="photo-size"></div>
                  <div><span ng-bind="photos[2+item*3].font"></span></div>
                  <div><b><span ng-bind="'￥'+photos[2+item*3].price"></span></b></div>
                  </a>
                  <!--<div><img ng-src="{{photos[2+item*3]}}" class="photo-size"></div>-->
                  <!--<div><span ng-bind="'混纺针织面料D1256 平台自营'"></span></div>-->
                  <!--<div><span ng-bind="'￥'+'16.6'"></span></div>-->
                </div>
                <!--<div class="col-33"><img ng-src="{{photos[0+item*3]}}" ></div>-->
                <!--<div class="col-33"><img ng-src="{{photos[1+item*3]}}" ></div>-->
                <!--<div class="col-33"><img ng-src="{{photos[2+item*3]}}" ></div>-->
                <!--<div><img ng-src="{{item}}" ng-repeat="item in photo track by $index" class="col-33"></div>-->
                  <!--<div class="col-33"><img src="img/design.png" ></div>-->
                  <!--<div class="col-33"><img src="img/stock.png" ></div>-->
                  <!--<div class="col-33"><img src="img/cfp_gray.png" ></div>-->
              </div>
            </ion-slide>

            <!--<ion-slide>-->
              <!--<div class="row">-->
                  <!--<div class="col-33"><img src="img/calculator.png" ></div>-->
                  <!--<div class="col-33"><img src="img/calculator.png" ></div>-->
                  <!--<div class="col-33"><img src="img/calculator.png" ></div>-->
              <!--</div>-->
            <!--</ion-slide>-->

            <!--<ion-slide>-->
              <!--<div class="row">-->
                  <!--<div class="col-33"><img src="img/cash.png" ></div>-->
                  <!--<div class="col-33"><img src="img/cash.png" ></div>-->
                  <!--<div class="col-33"><img src="img/cash.png" ></div>-->
              <!--</div>-->
            <!--</ion-slide>-->

          </ion-slide-box>
      </div>

        <div>
          <!--<ion-slide-box active-slide="myActiveSlide" does-continue="true" auto-play="true" slide-interval="1000" show-pager="true" >-->
          <ion-slide-box active-slide="myActiveSlide2" does-continue="true" auto-play="true" slide-interval="1000" show-pager="true">

            <ion-slide ng-show="show2" ng-repeat="item in rows">

              <!--<div class="row" style="height: 200px">-->
                <!--<div class="col-33"><img ng-src="{{photos2[0+item*3]}}" ></div>-->
                <!--<div class="col-33"><img ng-src="{{photos2[1+item*3]}}" ></div>-->
                <!--<div class="col-33"><img ng-src="{{photos2[2+item*3]}}" ></div>-->
              <!--</div>-->
              <!--<span class="badge badge-assertive">0</span>-->
              <div class="row" style="height: 200px">

                <div class="col-33">
                  <a href="{{photos2[0+item*3].url}}">
                  <div class="position-relative">
                    <img ng-src="{{photos2[0+item*3].img}}" class="photo-size">
                    <div class="badge badge-assertive position-num">{{1+item*3}}</div>
                  </div>

                  <div><span ng-bind="photos2[0+item*3].font"></span></div>
                  <div><b><span ng-bind="'￥'+photos2[0+item*3].price"></span></b></div>
                  </a>
                </div>

                <div class="col-33">
                  <a href="{{photos2[1+item*3].url}}">
                  <div class="position-relative">
                    <img ng-src="{{photos2[1+item*3].img}}" class="photo-size">
                    <div class="badge badge-assertive position-num">{{2+item*3}}</div>
                  </div>

                  <div><span ng-bind="photos2[1+item*3].font"></span></div>
                  <div><b><span ng-bind="'￥'+photos2[1+item*3].price"></span></b></div>
                  </a>
                </div>

                <div class="col-33">
                  <a href="{{photos2[2+item*3].url}}">
                  <div class="position-relative">
                    <img ng-src="{{photos2[2+item*3].img}}" class="photo-size">
                    <div class="badge badge-assertive position-num">{{3+item*3}}</div>
                  </div>

                  <div><span ng-bind="photos2[2+item*3].font"></span></div>
                  <div><b><span ng-bind="'￥'+photos2[2+item*3].price"></span></b></div>
                  </a>
                  <!--<div><span ng-bind="'混纺针织面料D1256 平台自营'"></span></div>-->
                  <!--<div><span ng-bind="'￥'+'22.2'"></span></div>-->
                </div>
              </div>
              <!--<div class="row" >-->
                <!--<div class="col-33"><img src="img/stock.png" ></div>-->
                <!--<div class="col-33"><img src="img/stock.png" ></div>-->
                <!--<div class="col-33"><img src="img/stock.png" ></div>-->
              <!--</div>-->
            </ion-slide>

            <!--<ion-slide ng-show="show2">-->
              <!--<div class="row">-->
                <!--<div class="col-33"><img src="img/cfp_gray.png" ></div>-->
                <!--<div class="col-33"><img src="img/cfp_gray.png" ></div>-->
                <!--<div class="col-33"><img src="img/cfp_gray.png" ></div>-->
              <!--</div>-->
            <!--</ion-slide>-->

            <!--<ion-slide ng-show="show2">-->
              <!--<div class="row">-->
                <!--<div class="col-33"><img src="img/cfp_red.png" ></div>-->
                <!--<div class="col-33"><img src="img/cfp_red.png" ></div>-->
                <!--<div class="col-33"><img src="img/cfp_red.png" ></div>-->
              <!--</div>-->
            <!--</ion-slide>-->

          </ion-slide-box>
        </div>
      <!--图片轮播end-->

    </ion-list>

  </ion-content>
</ion-view>
