<ion-view view-title="商城" class="designmall">
  <div class="bar bar-header bar-stable item-icon-left item-icon-right bar-header-top">
    <i class="icon ion-chevron-left header-left-row"  ng-click="comeBack()"></i>
    <div class="title">商城</div>
    <i class="icon ion-navicon-round" ng-click="toMateriallist()"></i>
    </div>
  <ion-content class="content has-header" overflow-scroll="true" style="overflow: auto">
      <div class="row row-col">
        <div class="col" style="text-align: center">类型</div>
        <div class="col" style="text-align: center">排序</div>
        <div class="col" style="text-align: center">筛选</div>
      </div>
    <!--商品列表-->
    <ion-list class="has-header item-mall">
      <ion-item class="item-thumbnail-left" ng-click="toGooddetail()">
        <img ng-src="img/ben.png">
        <div class="row">
          <p><b>针织混纺面料</b><span class="clothes">布料</span>
        </div>
        <div class="row" style="margin-top: 2px">
          <div class="col-address">浙江杭州</div>
        </div>
        <div class="row">
          <div class="col">04/09发布</div>
          <div class="col" style="color: #C13E3E;text-align: right">￥50/6800件</div>
        </div>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="toGooddetail()">
        <img ng-src="img/ben.png">
        <div class="row">
          <p><b>针织混纺面料</b><span class="clothes">布料</span>
        </div>
        <div class="row" style="margin-top: 2px">
          <div class="col-address">浙江嘉兴</div>
        </div>
        <div class="row">
          <div class="col">04/09发布</div>
          <div class="col" style="color: #C13E3E;text-align: right">￥50/6800件</div>
        </div>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="toGooddetail()">
        <img ng-src="img/ben.png">
        <div class="row">
          <p><b>针织混纺面料</b><span class="clothes">布料</span>
        </div>
        <div class="row" style="margin-top: 2px">
          <div class="col-address">安徽芜湖</div>
        </div>
        <div class="row">
          <div class="col">04/09发布</div>
          <div class="col" style="color: #C13E3E;text-align: right">￥50/6800件</div>
        </div>
      </ion-item>
      <ion-item class="item-thumbnail-left" ng-click="toGooddetail()">
        <img ng-src="img/ben.png">
        <div class="row">
          <p><b>针织混纺面料</b><span class="clothes">布料</span>
        </div>
        <div class="row" style="margin-top: 2px">
          <div class="col-address">安徽芜湖</div>
        </div>
        <div class="row">
          <div class="col">04/09发布</div>
          <div class="col" style="color: #C13E3E;text-align: right">￥50/6800件</div>
        </div>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
