<ion-view view-title="款式详情" class="design-detail">
  <div class="bar bar-header bar-stable item-icon-left item-icon-right item-icon-right bar-header-top">
      <i class="icon ion-chevron-left header-left-row"  ng-click="toClose()"></i>
    <div class="title">款式详情</div>
  </div>
  <ion-content class="content has-header" overflow-scroll="scroll">
   <div style="background-color: #EDEDED;overflow: hidden;">
    <div class="list mar" style="margin-bottom: 15px;" ng-click="toImagesShow()" >
      <div class="item item-thumbnail-left">
          <img src="{{getImageRealUrl(designDetailData.img)[0]}}" ng-if="getImageRealUrl(designDetailData.img).length!=0">
          <img src="img/ic_default.png" ng-if="getImageRealUrl(designDetailData.img).length==0">
        <div class="list-mess">
          <div class="list-txt">
            <p><b ng-bind="designDetailData.name"></b><b class="red" ng-bind="'￥'+lastPrice"></b></p>
            <p><b ng-bind="designDetailData.designMaterials[designDetailData.designMaterials.length-1].name+'￥'+designDetailData.designMaterials[designDetailData.designMaterials.length-1].cost"></b><span ng-bind="timeSlicer()"></span></p>
          </div>
        </div>
      </div>
    </div>
   </div>

    <div class="list mar" ng-repeat="item in designDetailData.designMaterials">
      <div class="item item-thumbnail-left" ng-click="toMaterialDetail($index)">
          <img src="{{getImageRealUrl(item.img)[0]}}" ng-if="getImageRealUrl(item.img).length!=0">
          <img src="img/ic_default.png" ng-if="getImageRealUrl(item.img).length==0">
        <div class="list-mess">
          <div class="list-txt">
            <p ng-bind="item.name" style="color: black;font-size: 17px;font-weight: bolder"></p>
            <span ng-bind="item.color"></span><span class="red" style="float: right;margin-right: 10px" ng-bind="'￥'+item.cost+(item.hasTax=='Y'?'(含税价)':'')"></span>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>
