<ion-view view-title="线下支付">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-ios-arrow-back" ng-click="toClose()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <!--表单-->
        <div class="list">
            <label class="item item-input">
                <span class="input-label">汇款金额</span>
                <label>￥23000</label>
                <!--<input type="text" placeholder="￥23000">-->
            </label>

            <a class="item item-input item-icon-right">
                <span class="input-label">付款人户名</span>
                <label>南京太阳服饰</label>
                <i class="icon after ion-ios-arrow-right"></i>
            </a>
            <label class="item item-input">
                <span class="input-label">付款人账号</span>
                <label>2300000000000000</label>
                <!--<input type="text" placeholder="">-->
            </label>
            <label class="item item-input">
                <span class="input-label">付款人银行</span>
             <!--   <input type="text" placeholder="">-->
                <label>中国银行</label>
            </label>

            <a class="item item-input item-icon-right">
                <span class="input-label">收款人户名</span>
                <label>南京泽冠</label>
                <i class="icon after ion-ios-arrow-right"></i>
            </a>
            <label class="item item-input">
                <span class="input-label">收款人账号</span>
                <label>3300000000000000</label>
                <!--<input type="text" placeholder="">-->
            </label>
            <label class="item item-input">
                <span class="input-label">收款人银行</span>
                <!--   <input type="text" placeholder="">-->
                <label>中国银行</label>
            </label>
        </div>

        <!-- 照片上传-->
        <div class="" style="margin: 0 auto;width: 92%">
                <div class="">
                    <div class="weui_uploader_hd weui_cell">
                        <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                        <div class="weui_cell_ft">3/5</div>
                    </div>
                    <div class="weui_uploader_bd">
                        <ul class="weui_uploader_files">
                            <li class="weui_upiloader_file" style="float: left"  >
                                <img ng-src="{{'img/ben.png'}}" style="width: 80px;height: 80px;margin-bottom: 8px;margin-left: 8px">
                            </li>
                        </ul>
                    </div>
                </div>
        </div>


        <button class="button button-block button-balanced" style="margin: 10px auto;width: 96%">提交</button>
    </ion-content>
</ion-view>