<ion-view view-title="在线支付">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-ios-arrow-back" ng-click="toClose()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content overflow-scroll="false">
        <div class="list">
            <div class="item">
                <label>收款用户：</label>
                <label style="margin-left: 10px">张三</label>
                <span class="item-note">￥2100</span>
            </div>
            <div class="item item-divider">
                选择付款方式
            </div>
            <div class="item">
                <div class="row">
                    <div class="col col-25">
                        <img ng-src="img/ben.png" style="width: 60px;height: 60px">
                    </div>
                    <div class="col col-50" style="float: left;margin-top: 8px">
                        支付宝
                        <p>推荐支付宝用户使用</p>
                    </div>
                    <div class="col col-25" style="float: right;margin-top: 20px">
                        <span >无优惠</span>
                        <i class="ion-android-radio-button-on"></i>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col col-25">
                        <img ng-src="img/ben.png" style="width: 60px;height: 60px">
                    </div>
                    <div class="col col-50" style="float: left;margin-top: 8px">
                        微信支付
                        <p>推荐微信用户使用</p>
                    </div>
                    <div class="col col-25" style="float: right;margin-top: 20px">
                        <span >无优惠</span>
                        <i class="ion-android-radio-button-off"></i>
                    </div>
                </div>
            </div>

            <div class="item">
                <div class="row">
                    <div class="col col-25">
                        <img ng-src="img/ben.png" style="width: 60px;height: 60px">
                    </div>
                    <div class="col col-50" style="float: left;margin-top: 8px">
                        网上银行
                        <p>单笔金额超过5W，请使用电脑网上银行</p>
                    </div>
                    <div class="col col-25" style="float: right;margin-top: 20px">
                        <span >无优惠</span>
                        <i class="ion-android-radio-button-off"></i>
                    </div>
                </div>
            </div>
        </div>

        <button class="button button-block button-balanced" style="margin: 10px auto;width: 96%">确认支付￥122000</button>
    </ion-content>
</ion-view>
