<ion-view view-title="选择发布类型">
    <ion-nav-bar>
        <ion-nav-buttons side="left">
            <a class="button button-icon ion-ios-arrow-back" ng-click="goBack()"></a>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content>
        <div class="row">
            <div class="col" >
                <div style="text-align: center" ng-click="openRelease()">
                    <img src="img/clothingOrder.png" style="width: 90%;">
                    <p>服装订单</p>
                </div>
            </div>
            <div class="col">
                <div style="text-align: center">
                    <img src="img/materialOrder.png" style="width: 90%">
                    <p>面料订单</p>
                </div>
            </div>
            <div class="col">
                <div style="text-align: center">
                    <img src="img/assistOrder.png" style="width: 90%">
                    <p>辅料订单</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
              <div style="text-align: center">
                    <img src="img/examine.png" style="width: 90%">
                    <p>辅料订单</p>
                </div>
            </div>
            <div class="col">
                <!--<div style="text-align: center" >-->
                    <!--<img src="img/examine.png" style="width: 90%">-->
                    <!--<p>辅料订单</p>-->
                <!--</div>-->
            </div>
            <div class="col">
                <!--<div style="text-align: center" >-->
                    <!--<img src="img/examine.png" style="width: 90%">-->
                    <!--<p>辅料订单</p>-->
                <!--</div>-->
            </div>
        </div>
    </ion-content>
</ion-view>

