<ion-view view-title="裁缝铺" class="list-index">
  <!--<div class="bar bar-header bar-stable item-icon-right bar-header-top"></div>-->
  <ion-content>
      <div>
          <div class="row" style="margin-top: 200px">
              <div class="col col-50">
                  <a class="tab-item" ng-click="toQuote()">
                      <div><img src="img/baojia.png" class="foot-img"></div>
                      报价
                  </a>
              </div>
              <div class="col col-50">
                  <a class="tab-item" ng-click="toDesign()">
                      <div><img src="img/design.png" class="foot-img"></div>
                      款式
                  </a>
              </div>
          </div>
          <div class="row" style="margin-top: 50px">
              <div class="col col-50">
                  <a class="tab-item" ng-click="toMy()">
                      <div><img src="img/design.png" class="foot-img"></div>
                      设置
                  </a>
              </div>
          </div>
      </div>
  </ion-content>
   <!-- 底部菜单栏-->

</ion-view>
